@import "../../config.scss";
// :host {}
.inside-header{
  margin: 0;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  height: 40px;
  margin: 0 16px;
  // background-color: #edf9fc;
  box-sizing: border-box;
  @include respond-to(sm) {
    width: 100vw;
    margin: 0;
  }
}
