@import "../../config.scss";
// :host {}
.container-header {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 16px;
  box-sizing: border-box;
  @include respond-to(sm) {
    width: 100vw;
    margin: 0;
  }
}