.example-chip-list {
  width: 100%;
}

.example-header-image {
  background-size: cover;
}

.post-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  position: fixed;
  bottom: 10%;
  right: 10%;
}

.content-item {
  margin: 10px 0;
}

.tag {
  user-select: none;
}

.content {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag-prefix {
  display: inline-block;
  min-width: 55px;
}