.example-chip-list {
  width: 100%;
}

.example-header-image {
  background-size: cover;
}

.post-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  position: fixed;
  bottom: 10%;
  right: 10%;
}

.tag {
  user-select: none;
}