@import '../../../config.scss';
.letter-card {
  width: 600px;
  min-width: 400px;
  margin-bottom: 10px;
  box-sizing: border-box;
  @include respond-to(sm) {
    width: 90vw;
  }
}

.letter-cart-content {
  margin-top: 18px;
  margin-bottom: 10px;
}

.letter-cart-avatar {
  height: 42px;
  width: 42px;
}

nz-tag {
  div {
    user-select: none;
  }
}