@import '../../../config.scss';
.letter-card {
  max-width: 600px;
  margin-bottom: 10px;
  box-sizing: border-box;
  @include respond-to(sm) {
    width: 90vw;
  }
}

.avator {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}