@import '../../../config.scss';
div {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    outline: none;
    font-size: 14px;
    background-color: white;
    min-width: 70px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    @include respond-to(sm) {}
    &:hover {
        box-shadow: 1px 1px 1px #ccc;
    }
}