<div class="post-avatar" [style.background-color]="post.avatar"></div>
<div class="post-content">
  <div class="post-content-head">
    <span class="post-content-head">
      <span class="username">{{post.nickname}}</span>
      <span class="space"></span>
      <span class="posttime">{{post.timestamp | date:"yyyy-M-d HH:ss"}}</span>
    </span>
    <span class="option">...</span>
  </div>
  <div class="post-content-body">{{post.content}}</div>
  <div class="post-content-footer">{{post.footer}}</div>
</div>