@import '../../config.scss';
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 150px;
}

input {
    width: 300px;
    font-size: 14px;
    text-align: center;
    outline: none;
    text-decoration: none;
    padding: 5px 10px;
    @include respond-to(sm) {
        width: 100%;
    }
}