.loading-container {
    z-index: 9999;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
}

.loading-body {
    width: 100%;
    height: 4px;
    margin: 0;
    padding: 0;
    background-color: aqua;
    transition: all .5s ease-in-out;
    box-shadow: 0 0 10px 0;
}