<nz-list [nzBordered]="'false'" [nzLoading]="'false'" [nzDataSource]="letters" [nzItemLayout]="'vertical'"
  [nzRenderItem]="item" [nzPagination]="pagination">
  <ng-template #item let-item>
    <li [@newLetter]="letters&&letters.indexOf(item)===0?state:null">
      <luv-letter-card [loading]='loading' [avatar]='makeUpAvatarURL(item.account)' [nickname]='item.nickname'
        [content]='item.content' [mood]='item.mood' [tags]='item.tags'>
      </luv-letter-card>
    </li>
  </ng-template>
  <ng-template #pagination>
    <nz-pagination (nzPageIndexChange)="onPageChange($event)" nzHideOnSinglePage="false" [nzPageIndex]="1"
      [(nzPageSize)]="size" [nzTotal]="size*max" nzSimple></nz-pagination>
  </ng-template>
</nz-list>