@import "../../../config.scss";
ul {
  padding: 0;
}

li {
  list-style: none;
}

nz-pagination {
  text-align: center;
}

nz-list {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 40px;
  @include respond-to(sm) {
    padding: 0;
  }
}