<div class="user-avatar" [style.background-color]="avatar"></div>
<div class="editor-container">
  <div class="editor-header">
    <div class="nickname" [innerText]="nickname"></div>
    <div class="mood" [innerText]="mood"></div>
    <div class="topic" [innerText]="topic"></div>
  </div>
  <div #editor contenteditable="true" [ngClass]="{'empty':content===DEFAULT&&!hasChanged&&!isEditing}" class="editor-body"
    (focus)="onEditorFocus(editor)" (blur)="onEditorBlur(editor)" (keyup.enter)="parseInput(editor)" [innerText]="content"
    spellcheck="true">
  </div>
  <div class="editor-footer">
    <luv-button [type]="'raised'" (click)="onSend($event)"></luv-button>
  </div>
</div>